extends ../layout

block content
  h2
    i.fa.fa-github
    | GitHub API

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='http://developer.github.com/guides/getting-started/', target='_blank')
      i.fa.fa-check-square-o
      | Getting Started
    a.btn.btn-primary(href='https://apigee.com/console/github', target='_blank')
      i.fa.fa-laptop
      | API Console
    a.btn.btn-primary(href='http://developer.github.com/v3/', target='_blank')
      i.fa.fa-file-text-o
      | Documentation
  br
  .panel.panel-primary
    .panel-heading
      h3.panel-title Repository Information
    .panel-body
      each val, key in activity
        .row
          .col-xs-4
            img(src=`${val.actor.avatar_url}` width='80' height='80')
          .col-xs-4
            | #{val.type} #{val.actor.login}
          .col-xs-4
            a(href=`${val.repo.url}`)  #{val.repo.name}

      .row
        .col-xs-4
          img.img-rounded.img-responsive(src='https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png')
        .col-xs-8
          h4
            a(href='#{someRepo.repo.html_url}') #{someRepo.repo.name}
          ul.list-inline
            li
              i.fa.fa-eye-slash
              | Subscribers: #{someRepo.repo.subscribers_count}
            li
              i.fa.fa-star
              | Starred: #{someRepo.repo.stargazers_count}
            li
              i.fa.fa-code-fork
              | Forks: #{someRepo.repo.forks_count}
            li
              i.fa.fa-code
              | #{someRepo.repo.language}
          strong DESCRIPTION
          p= someRepo.repo.description
